
/* App container styles */

.App {
  text-align: center;
  padding: 20px;
}

/* Header styles */
.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* App.css */

.options-container {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 15px; /* Add space between the buttons */
  margin-bottom: 20px; 
}

.active-option-container {
  margin-top: 20px; /* Add margin at the top to separate from the buttons */
}

/* Main content styles */
.content {
  margin-top: 20px;
}

/* Heading styles */
h1, h3 {
  color: #333;
}

/* Sign-out button styles */
.App button {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.App button:hover {
  background-color: #138496;
}

/* Customize further as needed */
